<!DOCTYPE html>
<html ng-app="chatApp">

<head>
    <title>Socket.IO Chat</title>
</head>

<body ng-controller="ChatController">
    <ul id="messages">
        <li ng-repeat="message in messages track by $index">{{ message }}</li>
    </ul>

    <input id="messageInput" ng-model="newMessage" autocomplete="off" />
    <button id="sendButton" ng-click="sendMessage()">Send</button>

    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script>
        angular.module('chatApp', [])
            .controller('ChatController', ['$scope', function($scope) {
                const socket = io();
                $scope.messages = [];
                $scope.newMessage = '';

                // Function to log random numbers between -10 and 1 every 1.5 seconds
                function logRandomNumber() {
                    const randomNumber = Math.floor((Math.random() * 11) - 10);
                    console.log('Random Number:', randomNumber.toFixed(2));
                    setTimeout(logRandomNumber, 1500);
                }

                // Log a random number when the client connects
                socket.on('connect', function() {
                    console.log('Connected to the server');
                    logRandomNumber(); // Start logging random numbers
                });

                $scope.sendMessage = function() {
                    const message = $scope.newMessage;
                    socket.emit('chat message', message);
                    $scope.newMessage = '';
                    console.log('Sent message:', message);
                };

                socket.on('chat message', function(message) {
                    $scope.$apply(function() {
                        $scope.messages.push(message);
                    });
                });
            }]);
    </script>
</body>

</html>